* {
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: #1c2430;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* allow scroll if needed */
  padding: 20px;     /* breathing room on small screens */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#container {
  width: 100%;
  max-width: 500px;
  min-height: 550px;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: hsl(216, 26%, 17%);
  padding: 32px;
  border-radius: 20px;
  color: white;
}


#header {
    display: flex;
    flex-direction: column;
    align-items: start;
}

#header h1 {
    font-size: 40px;
    margin: 0px 0px;
    font-weight: 800;
}

#header h3 {
    margin-top: 10px;
    font-weight: 300;
}

.green-text {
    color: #4ade80;
}

#len-input {
    margin: 40px 0 0 0;
    width: 100%;
    max-width: 300px;
    height: 10px; 
    appearance: none;
    background-color: transparent;
    cursor: pointer;
    border: none;
    -webkit-appearance: none;
    border-radius: 20px;
    background-color: #4ade80;
}

@media (max-width: 480px) {
  #container {
    padding: 20px;
  }

  #header h1 {
    font-size: 28px;
  }

  button {
    width: 100%;
  }

  #passwords {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .password-display {
    width: 100%;
    height: 48px;
  }
}
  

#len-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: hsl(142, 69%, 58%);
  border: 1px solid hsl(142, 69%, 38%);
  cursor: pointer;
}

#len-text {
    margin-top: 10px;
    font-size: 15px;
    color: white;
}

button{
    margin-top: 50px;
    width: 200px;
    height: 50px;
    background-color: hsl(142, 69%, 58%);
    border: none;
    border-radius: 10px;
    color: hsl(0, 0%, 100%, 0.9);
    font: inherit;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}

hr {
    margin: 30px 0px 0px 0px;
    width: 100%;
    border: none;
    border-top: 1px solid hsl(216, 26%, 23%);
}

#passwords {
    display: flex;
    text-align: center;
    margin: 30px 0px 0px 0px;
    width: 97%;
    height: 100px;
    background-color: hsl(216, 26%, 19%);
    border: none;
    border-radius: 10px;
    color: hsl(0, 0%, 100%);
    font: inherit;
    font-size: 18px;
    padding-left: 20px;
}

.password-display {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

p{
    margin: 10px auto;
    font-size: 15px;
}